<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mischedule.mischedule">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="MI Schedule"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MataKuliahActivity"></activity>
        <activity android:name=".AkademikActivity" />
        <activity android:name=".ProdiActivity" />
        <activity android:name=".DosenActivity" />
        <activity android:name=".AddMahasiswa" />
        <activity android:name=".DetailMahasiswa" />
        <activity
            android:name=".MainActivity"
            android:label="MI Schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>